trigger:
- none

pool:
  vmImage: ubuntu-latest

variables:
  SQLserver: "suryasql12"
  SQLServerfqdn: "suryasql12.database.windows.net"
  DatabaseName: "mhdb"
  ACRname: "suryanewdevacr26.azurecr.io"

stages:
- stage: Build
  displayName: AKSBUildStage
  jobs:
  - job: Build
    steps:
    - task: AzureKeyVault@2
      inputs:
        azureSubscription: 'aks2aksend'
        KeyVaultName: 'passkey'
        SecretsFilter: '*'
        RunAsPreJob: true

    - task: replacetokens@5
      inputs:
        rootDirectory: '$(build.sourcesdirectory)/env'
        targetFiles: 'main.tf'
        tokenPattern: 'rm'
        actionOnMissing: 'warn'

    - task: replacetokens@5
      inputs:
        rootDirectory: '$(build.sourcesdirectory)'
        targetFiles: 'mhc-aks.yml'
        tokenPattern: 'rm'
        actionOnMissing: 'warn'

    - task: replacetokens@5
      inputs:
        rootDirectory: '$(build.sourcesdirectory)/src/MyHealth.Web'
        targetFiles: '*/appsettings.json'
        tokenPattern: 'rm'
        actionOnMissing: 'warn'

    - task: TerraformInstaller@0
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTaskV2@2
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(build.sourcesDirectory)/env'
        backendServiceArm: ''
        backendAzureRmResourceGroupName: 'devops'
        backendAzureRmStorageAccountName: 'storagefordevopsjsproj'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'tf.tfstate'

    - task: TerraformTaskV2@2
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(build.sourcesDirectory)/env'
        commandOptions: '--auto-approve'
        environmentServiceNameAzureRM: ''
    - task: DockerCompose@1
      inputs:
        containerregistrytype: 'Azure Container Registry'
        azureSubscription: ''
        azureContainerRegistry: '{"loginServer":"suryanewdevacr26.azurecr.io", "id" : "/subscriptions/70df70bd-3b9c-4590-959b-ba5f3434cf90/resourceGroups/AKSRG26/providers/Microsoft.ContainerRegistry/registries/suryanewdevacr26"}'
        dockerComposeFile: '**/docker-compose.ci.build.yml'
        dockerComposeFileArgs: 'DOCKER_BUILD_SOURCE='
        action: 'Run services'
        detached: false
    - task: DockerCompose@1
      inputs:
        containerregistrytype: 'Azure Container Registry'
        azureSubscription: 'Azure subscription 1(70df70bd-3b9c-4590-959b-ba5f3434cf90)'
        azureContainerRegistry: '{"loginServer":"suryanewdevacr26.azurecr.io", "id" : "/subscriptions/70df70bd-3b9c-4590-959b-ba5f3434cf90/resourceGroups/AKSRG26/providers/Microsoft.ContainerRegistry/registries/suryanewdevacr26"}'
        dockerComposeFile: '**/docker-compose.yml'
        dockerComposeFileArgs: 'DOCKER_BUILD_SOURCE='
        action: 'Build services'
    - task: DockerCompose@1
      inputs:
        containerregistrytype: 'Azure Container Registry'
        azureSubscription: 'Azure subscription 1(70df70bd-3b9c-4590-959b-ba5f3434cf90)'
        azureContainerRegistry: '{"loginServer":"suryanewdevacr26.azurecr.io", "id" : "/subscriptions/70df70bd-3b9c-4590-959b-ba5f3434cf90/resourceGroups/AKSRG26/providers/Microsoft.ContainerRegistry/registries/suryanewdevacr26"}'
        dockerComposeFile: '**/docker-compose.yml'
        dockerComposeFileArgs: 'DOCKER_BUILD_SOURCE='
        action: 'Push services'
    - task: CopyFiles@1
      inputs:
        SourceFolder: '$(build.sourcesdirectory)'
        Contents: |
          **/mhc-aks.yml
          **/*.dacpac
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'
- stage: DBDeploy
  displayName: DBDeployStage
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DB
    displayName: DBdeploy
    environment: devdb
    pool:
      vmImage: windows-latest
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureKeyVault@2
            inputs:
              azureSubscription: 'aks2aksend'
              KeyVaultName: 'passkey'
              SecretsFilter: '*'
              RunAsPreJob: true
          - task: SqlAzureDacpacDeployment@1
            inputs:
              azureSubscription: 'Azure subscription 1(70df70bd-3b9c-4590-959b-ba5f3434cf90)'
              AuthenticationType: 'server'
              ServerName: '$(SQLServerfqdn)'
              DatabaseName: '$(DatabaseName)'
              SqlUsername: '$(SQLUser)'
              SqlPassword: '$(SQLPass)'
              deployType: 'DacpacTask'
              DeploymentAction: 'Publish'
              DacpacFile: '$(pipeline.Workspace)/drop/myhealthclinic.dacpac'
              IpDetectionMethod: 'AutoDetect'
- stage: AKS
  displayName: AKSDeploy
  dependsOn: DBDeploy
  condition: succeeded()
  jobs:
  - deployment: AKSDy
    displayName: AKSDeployCluster
    environment: devaks
    strategy:
      runOnce:
        deploy:
          steps:
          - task: Kubernetes@1
            inputs:
              connectionType: 'Azure Resource Manager'
              azureSubscriptionEndpoint: 'Azure subscription 1(70df70bd-3b9c-4590-959b-ba5f3434cf90)'
              azureResourceGroup: 'AKSRG26'
              kubernetesCluster: 'suryanewdevaks26'
              command: 'apply'
              useConfigurationFile: true
              configuration: '$(pipeline.Workspace)/drop/mhc-aks.yml'
              secretType: 'dockerRegistry'
              containerRegistryType: 'Azure Container Registry'
              azureSubscriptionEndpointForSecrets: 'Azure subscription 1(70df70bd-3b9c-4590-959b-ba5f3434cf90)'
              azureContainerRegistry: 'suryanewdevacr26.azurecr.io'
              secretName: 'classified23'
              outputFormat: 'yaml'
            